
@media screen and (max-width: 1400px) {
    .shop{

    top: 28px;
    left: 35vw;
    }
    .data {
    top: 20px;
    left: 20px;

    padding: 5px 10px;

}
.data__button {
    height: 40px;
    border-radius: 57px;
  
}

.data__shop {
    height: 40px;
    border-radius: 57px;
}

}

@media screen and (max-width: 1200px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}

@media screen and (max-width: 991px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
    .shop {
        transform: scale(0.8);
        top: 0;
    }
}


@media screen and (max-width: 768px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}

@media screen and (max-width: 564px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}

@media screen and (max-width: 500px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}

@media screen and (max-width: 400px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}
@media screen and (max-width: 350px) {
    .data {
    position: fixed;
    zoom: 0.6;
    left: 50px;
    }
}